{% extends "base.html" %}
{% block content %}
    <div class='container'>
        <div class='container__title'>Опрос</div>
        {% if users.getUsername() != None %}
            <div class='container__subtitle'>
                Привет, {{users.getUsername()}}
            </div>
            {% if users.getNextQuestion() != 0 %}
                <div class='button'>
                    <a href='/question/{{ users.getNextQuestion()}}'>Продолжить</a>
                </div>
            {% endif %}
            <div class='button'>
                    <a href='/new'>Начать</a>
                </div>
            {% if users.getLastSurvey() != 0 %}
                <div class='button'>
                    <a href='/result'>Результаты</a>
                </div>
            {% endif %}
            <div class='button'>
                <a href='/logout'>Выйти</a>
            </div>
        {% else %}
            <form action="" method="post">
                {% if users.getErrors() != None %}
                    <div>{{users.getErrors()}}</div>
                {% endif %}
                <div class='form__element_login'>
                    <label for='username'>Имя пользователя</label>
                    <input name='username' required />
                </div>
                <div class='form__element_login'>
                    <label for='username'>Пароль</label>
                    <input name='password' type='password' required />
                </div>
                <div class='form__element_submit'>
                    <input type='submit' value='Войти'/>
                </div>
            </form>
        {% endif %}
    </div>
{% endblock %}
